.tab_manager .tab_contents h3:not(.modal-title) {
    margin: 17px 0 8.5px 0 !important;
}

.tab_manager .tab_contents h3 {
    font-size: 14px !important;
}

.tab_manager .tab_contents h3 {
    color: #00aff0;
}

.tab_manager .tab_contents > div {
    display: none;
}

.wrap_not_documentation {
    display: block;
}

.wrap_documentation {
    display: none;
}

.doc_switch_btn {
    margin-bottom: -5px;
    position: relative;
    display: inline-block;
}

.doc_switch_btn label {
    float: left;
    margin-bottom: -1px;
}

.doc_switch_btn label input {
    display: none;
}

.doc_switch_btn label input:checked + span {
    color: #666;
    background: #fff;
    cursor: default;
    border: 1px solid;
    border-color: #ddd;
    border-radius: 3px;
    position: relative;
    z-index: 10;
    border-bottom-color: transparent;
}

.doc_switch_btn label span {
    font-size: 1.1em;
    font-family: "Ubuntu Condensed", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 1.42857;
    position: relative;
    display: block;
    padding: 10px 15px;
    cursor: pointer;
    background: transparent;
    color: #00aff0;
    margin-top: 4px;
    margin-right: 2px;
    border: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.doc_switch_btn label span:hover {
    border: 1px solid #ddd;
    color: #0077a4;
    background: transparent;
}

.doc_switch_btn:after {
    content: '';
    clear: both;
    display: block;
}

.doc_switch_btn:after:hover {
    border: 1px solid;
    border-color: #ddd;
    border-radius: 3px;
}

.doc_switch_btn:after {
    content: '';
    display: block;
    width: 3px;
    height: 1px;
    background: #DDDDDD;
    position: absolute;
    left: -3px;
    bottom: 0;
}

.doc_switch_btn:first-child:after {
    display: none;
}

.wrap_container {
    background: #fff;
    border: 1px solid #ddd;
    padding: 15px;
}

.list_special_forms {
    margin-top: 0;
}

.wrap_container .col-lg-3 {
    padding-left: 0;
}

.wrap_documentation .form-group {
    overflow: hidden;
}

.tab_contents img {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.nav-pills > li a:active, .nav-pills > li a:focus {
    color: #fff;
    background-color: #00aff0;
    text-decoration: none;
}

.nav-pills > li a:hover {
    text-decoration: none;
}

.nav-pills ul {
    padding-left: 25px;
}

.bootstrap .nav-stacked > li + li {
    cursor: pointer;
}

.nav-pills li {
    word-break: break-all;
    list-style: none;
}

.nav li a {
    position: relative;
    display: block;
    padding: 10px 15px;
    border-radius: 3px;
    word-break: break-word;
}

.important {
    background-color: rgba(252, 255, 33, 0.89);
    display: inline-block;
    color: #111 !important;
    margin: 8px 0 !important;
}

.panel .panel-body {
    padding: 0;
}

.bootstrap .thumbnail, .bootstrap .img-thumbnail {
    width: auto;
    margin: 16px auto;
    max-width: 100%;
}

.bootstrap .alert {
    margin-top: 16px;
    margin-bottom: 16px;
}

.back_doc {
    margin-top: -5px;
    margin-bottom: 15px !important;
    margin-left: 5px;
}

/*# sourceMappingURL=documentation.css.map */
