<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>cdek20</name>
	<displayName><![CDATA[Cdek module]]></displayName>
	<version><![CDATA[2.1.0]]></version>
	<description><![CDATA[Delivery option form the Cdek]]></description>
	<author><![CDATA[SeoSA]]></author>
	<tab><![CDATA[shipping_logistics]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
